VITE_SUPABASE_URL=https://ctottdnsfaepfxfymvsn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0b3R0ZG5zZmFlcGZ4ZnltdnNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxMzk2NTIsImV4cCI6MjA5NTcxNTY1Mn0.8nXK064oDApAove6Ex-DZlgEXRbZzm5dtKtCvM38ykE